<PaperToolbar>
  <PaperToolbarTools>
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
      <PaperButton @onClick={{toggleAction}}>
        Ideas
      </PaperButton>
    {{/paper-sidenav-toggle}}

    <span class="flex"></span>

    {{#if this.session.isAuthenticated}}
      <div class="hide-xs show-gt-xs">
        <NavButton @to="index">
          Ideas
        </NavButton>

        <NavButton @to="sources">
          Sources
        </NavButton>

        <NavButton @to="authors">
          Authors
        </NavButton>

        <PaperButton @onClick={{this.logOut}}>
          Log Out
        </PaperButton>
      </div>
      <div class="show-xs hide-gt-xs">
        <PaperButton
          @iconButton={{true}}
          @onClick={{action (mut this.showMenu) (not this.showMenu)}}
        >
          {{paper-icon "menu"}}
        </PaperButton>
      </div>
    {{/if}}
  </PaperToolbarTools>
</PaperToolbar>

{{#if this.showMenu}}
  <div class="show-xs hide-gt-xs">
    <PaperCard as |Card|>
      <Card.content>
        <PaperList>
          <PaperItem>
            <NavButton @to="index">
              Ideas
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="sources">
              Sources
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="authors">
              Authors
            </NavButton>
          </PaperItem>
          <PaperItem>
            <PaperButton @onClick={{this.logOut}}>
              Log Out
            </PaperButton>
          </PaperItem>
        </PaperList>
      </Card.content>
    </PaperCard>
  </div>
{{/if}}

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Left Sidenav{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      Çup?
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
