<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle @name="left" as |toggleAction|>
      <PaperButton @onClick={{toggleAction}}>
        Ideas
      </PaperButton>

      <span class="flex"></span>

      <div class="show-lt-md hide-gt-sm">
        <PaperButton
          @iconButton={{true}}
          @onClick={{toggleAction}}
        >
          {{paper-icon "menu"}}
        </PaperButton>
      </div>
    </PaperSidenavToggle>
  </PaperToolbarTools>
</PaperToolbar>

<PaperSidenavContainer @class="inner-sidenav">
  <PaperSidenav
    @class="md-whiteframe-z2"
    @name="left"
    @open={{this.leftSideBarOpen}}
    @onToggle={{action (mut this.leftSideBarOpen)}}
  >
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>Ideas</Toolbar.tools>
    </PaperToolbar>
    <PaperContent @padding={{true}}>
      {{#if this.session.isAuthenticated}}
        <PaperList>
          <PaperItem>
            <NavButton @to="index">
              Ideas
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="sources">
              Sources
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="authors">
              Authors
            </NavButton>
          </PaperItem>
          <PaperItem>
            <PaperButton @onClick={{this.logOut}}>
              Log Out
            </PaperButton>
          </PaperItem>
        </PaperList>
      {{/if}}
    </PaperContent>
  </PaperSidenav>

  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
</PaperSidenavContainer>
