<PaperToolbar>
  <PaperToolbarTools>
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
      <PaperButton @onClick={{toggleAction}}>
        Ideas
      </PaperButton>

      <span class="flex"></span>

      <div class="show-lt-md hide-gt-sm">
        <PaperButton
          @iconButton={{true}}
          @onClick={{toggleAction}}
        >
          {{paper-icon "menu"}}
        </PaperButton>
      </div>
    {{/paper-sidenav-toggle}}
  </PaperToolbarTools>
</PaperToolbar>

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Ideas{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#if this.session.isAuthenticated}}
        <PaperList>
          <PaperItem>
            <NavButton @to="index">
              Ideas
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="sources">
              Sources
            </NavButton>
          </PaperItem>
          <PaperItem>
            <NavButton @to="authors">
              Authors
            </NavButton>
          </PaperItem>
          <PaperItem>
            <PaperButton @onClick={{this.logOut}}>
              Log Out
            </PaperButton>
          </PaperItem>
        </PaperList>
      {{/if}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
