<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Author</h2>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.editing}}
    <Card.title as |Title|>
      <Title.text>
        <PaperForm @onSubmit={{this.save}} as |Form|>
          <Form.input
            @block={{true}}
            @type="text"
            @placeholder="Author Name"
            @value={{this.editedAuthorName}}
            @onChange={{action (mut this.editedAuthorName)}}
            @passThru={{hash autocapitalize="words"}}
          />
        </PaperForm>
      </Title.text>
    </Card.title>
    <Card.actions>
      <PaperButton @onClick={{this.cancelEditing}}>
        Cancel
      </PaperButton>
      <PaperButton @primary={{true}} @raised={{true}} @onClick={{this.save}}>
        Save
      </PaperButton>
    </Card.actions>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>{{@author.name}}</Text.headline>
      </Title.text>
    </Card.title>
    <Card.actions>
      <PaperButton @warn={{true}} @onClick={{this.delete}}>
        Delete
      </PaperButton>
      <PaperButton @onClick={{this.startEditing}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
