<PaperCard as |Card|>
  <PaperForm @onSubmit={{this.createQuote}} as |Form|>
    <Card.content>
      <Form.input
        @textarea={{true}}
        @block={{true}}
        @label="New Quote"
        @value={{this.text}}
        @onChange={{action (mut this.text)}}
      />
      <div>
        <PaperSelect
          @label="Idea"
          @block={{true}}
          @options={{@ideas}}
          @selected={{this.idea}}
          @onChange={{action (mut this.idea)}}
          as |idea|
        >
          {{idea.summary}}
        </PaperSelect>
      </div>
      <Form.submit-button
        @raised={{true}}
        @primary={{true}}
      >
        Save
      </Form.submit-button>
    </Card.content>
  </PaperForm>
</PaperCard>
