<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Authors</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}}>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <PaperForm @onSubmit={{this.createAuthor}} as |Form|>
      <Card.content>
        <Form.input
          @block={{true}}
          @label="New Author"
          @value={{this.name}}
          @onChange={{action (mut this.name)}}
          @passThru={{hash autocapitalize="words"}}
        />
      </Card.content>
      <Card.actions>
        <PaperButton @onClick={{action (mut this.isAdding) false}}>
          Cancel
        </PaperButton>
        <Form.submit-button
          @raised={{true}}
          @primary={{true}}
        >
          Save
        </Form.submit-button>
      </Card.actions>
    </PaperForm>
  {{/if}}
</PaperCard>
