<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperForm @onSubmit={{this.saveIdea}} as |Form|>
      <Card.title as |Title|>
        <Title.text as |Text|>
          <Text.headline>
            {{#if (has-block)}}
              {{yield}}
            {{else}}
              {{@quote.source.author.name}},
              {{@quote.source.title}}
            {{/if}}
          </Text.headline>
        </Title.text>
      </Card.title>
      <Card.content>
        <p class="preserve-line-breaks">{{@quote.text}}</p>
        {{#if this.addingNewIdea}}
          <div class="layout-col layout-gt-xs-row">
            <div class="flex-sm-60 flex-gt-sm-70">
              <Form.input
                @type="text"
                @placeholder="New Idea"
                @block={{true}}
                @value={{this.newIdeaSummary}}
                @onChange={{action (mut this.newIdeaSummary)}}
                @passThru={{hash autocapitalize="sentences"}}
              />
            </div>
            <div class="flex-sm-40 flex-gt-sm-30">
              <PaperButton @onClick={{action this.switchToExistingIdea}}>
                Switch to Existing Idea
              </PaperButton>
            </div>
          </div>
        {{else}}
          <div class="layout-col layout-gt-xs-row">
            <div class="flex-sm-60 flex-gt-sm-70">
              <PaperSelect
                @label="Existing Idea"
                @block={{true}}
                @options={{@ideas}}
                @selected={{this.idea}}
                @onChange={{action (mut this.idea)}}
                as |idea|
              >
                {{idea.summary}}
              </PaperSelect>
            </div>
            <div class="flex-sm-40 flex-gt-sm-30">
              <PaperButton @onClick={{action this.switchToNewIdea}}>
                Switch to New Idea
              </PaperButton>
            </div>
          </div>
        {{/if}}
      </Card.content>
      <Card.actions>
        <PaperButton @onClick={{action (mut this.editing) false}}>
          Cancel
        </PaperButton>
        <PaperButton @onClick={{this.save}}>
          Save
        </PaperButton>
      </Card.actions>
    </PaperForm>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            {{@quote.source.author.name}},
            {{@quote.source.title}}
          {{/if}}
        </Text.headline>
      </Title.text>
    </Card.title>
    <Card.content>
      <p class="preserve-line-breaks">{{@quote.text}}</p>
    </Card.content>
    <Card.actions>
      <PaperButton @warn={{true}} @onClick={{this.delete}}>
        Delete
      </PaperButton>
      <PaperButton @onClick={{action (mut this.editing) true}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
