<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperForm @onSubmit={{this.saveIdea}} as |Form|>
      <Card.content>
        <Form.input
          @textarea={{true}}
          @block={{true}}
          @placeholder="Quote"
          @value={{this.editedQuoteText}}
          @onChange={{action (mut this.editedQuoteText)}}
          @passThru={{hash autocapitalize="sentences"}}
        />
        <Form.input
          @textarea={{true}}
          @block={{true}}
          @placeholder="Location (page, timestamp, etc)"
          @value={{this.editedQuoteLocation}}
          @onChange={{action (mut this.editedQuoteLocation)}}
        />
        <Form.input
          @textarea={{true}}
          @block={{true}}
          @placeholder="Comments"
          @value={{this.editedQuoteComments}}
          @onChange={{action (mut this.editedQuoteComments)}}
          @passThru={{hash autocapitalize="sentences"}}
        />
        {{#if this.addingNewIdea}}
          <div class="layout-col layout-gt-xs-row">
            <div class="flex-sm-60 flex-gt-sm-70">
              <Form.input
                @textarea={{true}}
                @block={{true}}
                @placeholder="New Idea"
                @value={{this.newIdeaSummary}}
                @onChange={{action (mut this.newIdeaSummary)}}
                @passThru={{hash autocapitalize="sentences"}}
              />
            </div>
            <div class="flex-sm-40 flex-gt-sm-30">
              <PaperButton @onClick={{action this.switchToExistingIdea}}>
                Switch to Existing Idea
              </PaperButton>
            </div>
          </div>
        {{else}}
          <div class="layout-col layout-gt-xs-row">
            <div class="flex-sm-60 flex-gt-sm-70">
              <PaperSelect
                @block={{true}}
                @label="Existing Idea"
                @options={{@ideas}}
                @selected={{this.idea}}
                @onChange={{action (mut this.idea)}}
                as |idea|
              >
                {{idea.summary}}
              </PaperSelect>
            </div>
            <div class="flex-sm-40 flex-gt-sm-30">
              <PaperButton @onClick={{action this.switchToNewIdea}}>
                Switch to New Idea
              </PaperButton>
            </div>
          </div>
        {{/if}}
      </Card.content>
      <Card.actions>
        <PaperButton @onClick={{this.cancelEditing}}>
          Cancel
        </PaperButton>
        <PaperButton @raised={{true}} @primary={{true}} @onClick={{this.save}}>
          Save
        </PaperButton>
      </Card.actions>
    </PaperForm>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            {{@quote.source.author.name}},
            {{@quote.source.title}}
            {{@quote.location}}
          {{/if}}
        </Text.headline>
      </Title.text>
    </Card.title>
    <Card.content>
      <p class="preserve-line-breaks">{{@quote.text}}</p>
    </Card.content>
    <Card.actions>
      <PaperButton @warn={{true}} @onClick={{this.delete}}>
        Delete
      </PaperButton>
      <PaperButton @onClick={{this.startEditing}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
