<PaperCard as |Card|>
  <Card.title as |Title|>
    <Title.text as |Text|>
      <Text.headline>
        {{#if @source.url}}
          <a href={{@source.url}} target="_blank" rel="noopener">{{@source.title}}</a>
        {{else}}
          {{@source.title}}
        {{/if}}
      </Text.headline>
      {{#if (has-block)}}
        <Text.subhead>{{yield}}</Text.subhead>
      {{/if}}
    </Title.text>
  </Card.title>
  <Card.actions>
    <NavButton @to="sources.detail" @id={{@source.id}}>
      Details
    </NavButton>
    <PaperButton @warn={{true}} @onClick={{this.delete}}>
      Delete
    </PaperButton>
  </Card.actions>
</PaperCard>
