<PaperCard>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Sources</h2>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.sortedSources}}
    <PaperList>
      {{#each this.sortedSources as |source|}}
        {{#if (has-block)}}
          <SourceItem @source={{source}}>
            {{yield source}}
          </SourceItem>
        {{else}}
          <SourceItem @source={{source}} />
        {{/if}}
      {{/each}}
    </PaperList>
  {{else}}
    <p>No sources added yet.</p>
  {{/if}}
</PaperCard>
