<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Source</h2>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.editing}}
    <Card.content>
      <PaperForm @onSubmit={{this.save}} as |Form|>
        <Form.input
          @type="text"
          @block={{true}}
          @label="Source"
          @value={{this.editedTitle}}
          @onChange={{action (mut this.editedTitle)}}
          @passThru={{hash autocapitalize="words"}}
        />
        <Form.input
          @type="url"
          @block={{true}}
          @label="URL"
          @value={{this.editedUrl}}
          @onChange={{action (mut this.editedUrl)}}
        />
        <Form.input
          @type="date"
          @block={{true}}
          @label="Date"
          @value={{this.editedDate}}
          @onChange={{action (mut this.editedDate)}}
        />
      </PaperForm>
    </Card.content>
    <Card.actions>
      <PaperButton @onClick={{this.cancelEditing}}>
        Cancel
      </PaperButton>
      <PaperButton @primary={{true}} @raised={{true}} @onClick={{this.save}}>
        Save
      </PaperButton>
    </Card.actions>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          {{#if @source.url}}
            <a href={{@source.url}} target="_blank" rel="noopener">
              {{@source.title}}
            </a>
          {{else}}
            {{@source.title}}
          {{/if}}
        </Text.headline>
        {{#if @source.date}}
          <Text.subhead>
            {{@source.date}}
          </Text.subhead>
        {{/if}}
      </Title.text>
    </Card.title>
    <Card.actions>
      <PaperButton @warn={{true}} @onClick={{this.delete}}>
        Delete
      </PaperButton>
      <PaperButton @onClick={{this.startEditing}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
