<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Ideas</h2>
      <span class="flex"></span>
      <PaperButton
        @onClick={{action (mut this.isAdding) true}}
        data-test-add-idea-button
      >
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <PaperForm @onSubmit={{this.createIdea}} as |Form|>
      <Card.content>
        <Form.input
          @textarea={{true}}
          @block={{true}}
          @label="New Idea"
          @value={{this.summary}}
          @onChange={{action (mut this.summary)}}
          @passThru={{hash autocapitalize="sentences"}}
          data-test-idea-summary-field
        />
        <Form.submit-button
          @raised={{true}}
          @primary={{true}}
          data-test-save-idea-button
        >
          Save
        </Form.submit-button>
        <PaperButton @onClick={{action (mut this.isAdding) false}}>
          Cancel
        </PaperButton>
      </Card.content>
    </PaperForm>
  {{/if}}
</PaperCard>
