{{#if this.editing}}
  <div class="card">
    <div class="card-body">
      <Quote::EditForm
        @quote={{@quote}}
        @ideas={{@ideas}}
        @onSave={{this.stopEditing}}
        @onCancel={{this.stopEditing}}
      />
    </div>
  </div>
{{else}}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{#if (has-block)}}
          {{yield}}
        {{else}}
          <LinkTo @route="authors.detail" @model={{@quote.source.author.id}}>{{@quote.source.author.name}}</LinkTo>,
          <LinkTo @route="sources.detail" @model={{@quote.source.id}}>{{@quote.source.title}}</LinkTo>
          {{@quote.location}}
        {{/if}}
      </h5>
      <p class="preserve-line-breaks" data-test-quote-text>{{@quote.text}}</p>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-light"
          {{on "click" this.startEditing}}
        >
          Edit
        </button>
      </div>
    </div>
  </div>
{{/if}}
