<PaperCard as |Card|>
  {{#if this.editing}}
    <Card.content>
      <Quote::EditForm
        @quote={{@quote}}
        @ideas={{@ideas}}
        @onSave={{this.stopEditing}}
        @onCancel={{this.stopEditing}}
      />
    </Card.content>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            <LinkTo @route="authors.detail" @model={{@quote.source.author.id}}>{{@quote.source.author.name}}</LinkTo>,
            <LinkTo @route="sources.detail" @model={{@quote.source.id}}>{{@quote.source.title}}</LinkTo>
            {{@quote.location}}
          {{/if}}
        </Text.headline>
      </Title.text>
    </Card.title>
    <Card.content>
      <p class="preserve-line-breaks" data-test-quote-text>{{@quote.text}}</p>
    </Card.content>
    <Card.actions>
      <PaperButton @onClick={{this.startEditing}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
