<PaperForm @onSubmit={{this.save}}>
  <Card.content>
    <div
      class="form-group"
      data-test-edit-quote-field
    >
      <label for="quote-text-field">
        Quote
      </label>
      <Textarea
        @value={{this.editedQuoteText}}
        id="quote-text-field"
        class="form-control"
        autocapitalize="sentences"
      />
    </div>
    <div
      class="form-group"
      data-test-edit-quote-field
    >
      <label for="location-field">
        Location (page, timestamp, etc)
      </label>
      <Textarea
        @value={{this.editedQuoteLocation}}
        id="location-field"
        class="form-control"
        autocapitalize="sentences"
      />
    </div>
    <div
      class="form-group"
      data-test-edit-quote-field
    >
      <label for="comments-field">
        Comments
      </label>
      <Textarea
        @value={{this.editedQuoteComments}}
        id="comments-field"
        class="form-control"
        autocapitalize="sentences"
      />
    </div>
    {{#if this.addingNewIdea}}
      <div class="layout-col layout-gt-xs-row">
        <div class="flex-sm-60 flex-gt-sm-70">
          <div
            class="form-group"
            data-test-edit-quote-field
          >
            <label for="new-idea-field">
              New Idea
            </label>
            <Textarea
              @value={{this.newIdeaSummary}}
              id="new-idea-field"
              class="form-control"
              autocapitalize="sentences"
            />
          </div>
        </div>
        <div class="flex-sm-40 flex-gt-sm-30">
          <button
            type="button"
            class="btn btn-light"
            {{on "click" this.switchToExistingIdea}}
          >
            Switch to Existing Idea
          </button>
        </div>
      </div>
    {{else}}
      <div class="layout-col layout-gt-xs-row">
        <div class="flex-sm-60 flex-gt-sm-70">
          <PaperSelect
            @block={{true}}
            @label="Existing Idea"
            @options={{@ideas}}
            @selected={{this.idea}}
            @onChange={{action (mut this.idea)}}
            as |idea|
          >
            {{idea.summary}}
          </PaperSelect>
        </div>
        <div class="flex-sm-40 flex-gt-sm-30">
          <button
            type="button"
            class="btn btn-light"
            {{on "click" this.switchToNewIdea}}
          >
            Switch to New Idea
          </button>
        </div>
      </div>
    {{/if}}

    <button
      type="submit"
      class="btn btn-primary text-dark"
      data-test-save-edited-quote-button
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-danger"
      data-test-delete-quote-button
      {{on "click" this.delete}}
    >
      Delete
    </button>
    <button
      type="button"
      class="btn btn-light"
      data-test-cancel-button
      {{on "click" this.cancelEditing}}
    >
      Cancel
    </button>
  </Card.content>
</PaperForm>
