<PaperForm @onSubmit={{this.createQuote}} class="layout-margin" as |Form|>
  <Card.content>
    <Form.input
      @textarea={{true}}
      @block={{true}}
      @label="New Quote"
      @value={{this.text}}
      @onChange={{action (mut this.text)}}
      @passThru={{hash autocapitalize="sentences"}}
      {{did-insert this.saveInputElement}}
      data-test-quote-field
    />
    <button
      type="submit"
      class="btn btn-primary text-dark"
      disabled={{this.buttonDisabled}}
      data-test-save-quote-button
    >
      Save
    </button>
  </Card.content>
</PaperForm>
