<LayoutContainer @title="Ideas" as |layout|>
  <layout.sidenav>
    {{#if this.session.isAuthenticated}}
      <PaperList>
        <PaperItem>
          <NavButton @to="index">
            Ideas
          </NavButton>
        </PaperItem>
        <PaperItem>
          <NavButton @to="sources">
            Sources
          </NavButton>
        </PaperItem>
        <PaperItem>
          <NavButton @to="authors" data-test-authors-nav-link>
            Authors
          </NavButton>
        </PaperItem>
        <PaperItem>
          <NavButton @to="tags">
            Tags
          </NavButton>
        </PaperItem>
      </PaperList>
    {{/if}}
  </layout.sidenav>
  <layout.body as |body|>
    <body.toolbar @showSideNavToggle={{this.session.isAuthenticated}}>
      <PaperMenu as |menu|>
        <menu.trigger>
          <PaperButton @iconButton={{true}}>
            {{paper-icon "account_circle"}}
          </PaperButton>
        </menu.trigger>
        <menu.content @width={{4}} as |content|>
          <content.menu-item @onClick={{this.signOut}}>
            <span>Sign Out</span>
          </content.menu-item>
        </menu.content>
      </PaperMenu>
    </body.toolbar>
    <body.content>
      <div class="layout-row">
        <div class="hide show-gt-md flex-gt-md-10"></div>
        <div class="flex-100 flex-gt-md-80">
          {{yield}}
        </div>
        <div class="hide show-gt-md flex-gt-md-10"></div>
      </div>
    </body.content>
  </layout.body>
</LayoutContainer>
