<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>Author</h2>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <EditAuthorForm
        @author={{@author}}
        @onSave={{this.stopEditing}}
        @onDelete={{this.handleDelete}}
        @onCancel={{this.stopEditing}}
      />
    </Card.content>
  {{else}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2 data-test-author-name>{{@author.name}}</h2>
        <span class="flex"></span>
        <PaperButton
          @iconButton={{true}}
          @onClick={{this.startEditing}}
          data-test-edit-author-button
        >
          {{paper-icon "edit"}}
        </PaperButton>
      </Toolbar.tools>
    </PaperToolbar>
  {{/if}}
</PaperCard>
