<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>Author</h2>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <PaperForm @onSubmit={{this.save}} as |Form|>
        <Form.input
          @block={{true}}
          @type="text"
          @placeholder="Author Name"
          @value={{this.editedAuthorName}}
          @onChange={{action (mut this.editedAuthorName)}}
          @passThru={{hash autocapitalize="words"}}
        />
        <Form.submit-button
          @primary={{true}}
          @raised={{true}}
          @onClick={{this.save}}
        >
          Save
        </Form.submit-button>
        <PaperButton @warn={{true}} @onClick={{this.delete}}>
          Delete
        </PaperButton>
        <PaperButton @onClick={{this.cancelEditing}}>
          Cancel
        </PaperButton>
      </PaperForm>
    </Card.content>
  {{else}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>{{@author.name}}</h2>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{this.startEditing}}>
          {{paper-icon "edit"}}
        </PaperButton>
      </Toolbar.tools>
    </PaperToolbar>
  {{/if}}
</PaperCard>
