<form {{on "submit" this.save}}>
  <div
    class="form-group"
    data-test-author-name-field
  >
    <label for="idea-summary-field">
      Idea
    </label>
    <Textarea
      @value={{this.editedIdeaSummary}}
      id="idea-summary-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <div
    class="form-group"
    data-test-author-name-field
  >
    <label for="comments-field">
      Comments
    </label>
    <Textarea
      @value={{this.editedIdeaComments}}
      id="comments-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    {{on "click" this.cancelEditing}}
  >
    Cancel
  </button>
</form>
