<PaperForm @onSubmit={{this.save}} as |Form|>
  <Form.input
    @textarea={{true}}
    @block={{true}}
    @placeholder="Idea"
    @value={{this.editedIdeaSummary}}
    @onChange={{action (mut this.editedIdeaSummary)}}
    @passThru={{hash autocapitalize="sentences"}}
  />
  <Form.input
    @textarea={{true}}
    @block={{true}}
    @placeholder="Comments"
    @value={{this.editedIdeaComments}}
    @onChange={{action (mut this.editedIdeaComments)}}
    @passThru={{hash autocapitalize="sentences"}}
  />
  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    {{on "click" this.cancelEditing}}
  >
    Cancel
  </button>
</PaperForm>
