<PaperSidenav @class="md-whiteframe-z2" @open={{@open}} @onToggle={{@onToggle}}>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <LinkTo
      @route="index"
      class="navbar-brand show-gt-sm"
    >
      {{@title}}
    </LinkTo>
  </nav>
  <PaperContent @padding={{false}}>
    {{yield}}
  </PaperContent>
</PaperSidenav>
