<PaperCard as |Card|>
  <PaperForm @onSubmit={{this.logIn}} as |Form|>
    <Card.content>
      <p>{{this.errorMessage}}</p>
      <Form.input
        @type="email"
        @passThru={{hash name="email"}}
        @block={{true}}
        @label="Email"
        @value={{this.email}}
        @onChange={{action (mut this.email)}}
      />
      <Form.input
        @passThru={{hash name="password"}}
        @block={{true}}
        @type="password"
        @label="Password"
        @value={{this.password}}
        @onChange={{action (mut this.password)}}
      />
    </Card.content>
    <Card.actions>
      <Form.submit-button
        @raised={{true}}
        @primary={{true}}
      >
        Log In
      </Form.submit-button>
    </Card.actions>
  </PaperForm>
</PaperCard>
