<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Tags</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-author-button>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <PaperForm @onSubmit={{this.createTag}} as |Form|>
      <Card.content>
        <Form.input
          @block={{true}}
          @label="New Tag"
          @value={{this.name}}
          @onChange={{action (mut this.name)}}
          @passThru={{hash autocapitalize="sentences"}}
        />
        <Form.submit-button
          @raised={{true}}
          @primary={{true}}
        >
          Save
        </Form.submit-button>
        <PaperButton @onClick={{action (mut this.isAdding) false}}>
          Cancel
        </PaperButton>
      </Card.content>
    </PaperForm>
  {{/if}}
</PaperCard>
