<PaperCard as |Card|>
  {{#if this.editing}}
    <Card.content>
      <EditQuoteForm
        @quote={{@quote}}
        @ideas={{@ideas}}
        @onSave={{this.stopEditing}}
        @onCancel={{this.stopEditing}}
      />
    </Card.content>
  {{else}}
    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            {{#link-to "authors.detail" @quote.source.author.id}}{{@quote.source.author.name}}{{/link-to}},
            {{#link-to "sources.detail" @quote.source.id }}{{@quote.source.title}}{{/link-to}}
            {{@quote.location}}
          {{/if}}
        </Text.headline>
      </Title.text>
    </Card.title>
    <Card.content>
      <p class="preserve-line-breaks" data-test-quote-text>{{@quote.text}}</p>
    </Card.content>
    <Card.actions>
      <PaperButton @onClick={{this.startEditing}}>
        Edit
      </PaperButton>
    </Card.actions>
  {{/if}}
</PaperCard>
