<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Tags
  </a>
  <span class="flex-fill"></span>
  <button
    type="button"
    class="btn btn-outline-dark"
    {{on "click" (fn (mut this.isAdding) true)}}
  >
    Add
  </button>
</nav>

{{#if this.isAdding}}
  <div class="card">
    <div class="card-body">
      <form {{on "submit" this.addTagToSource}}>
        <div class="form-group">
          <label for="tag-field">
            Tags
          </label>
          <ModelSelect
            @value={{this.tagToAdd}}
            @onChange={{fn (mut this.tagToAdd)}}
            @options={{this.sortedTags}}
            @emptyLabel="(choose)"
            id="tag-field"
            class="form-control"
            as |tag|
          >
            {{tag.name}}
          </ModelSelect>
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-test-cancel-button
          {{on "click" this.cancelAdd}}
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
{{/if}}

<ul class="list-group">
  {{#each this.sortedSourceTags as |tag|}}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-fill">
        <LinkTo
          @route="tags.detail"
          @model={{tag.id}}
        >
          {{tag.name}}
        </LinkTo>
      </div>
      <IconButton
        @onClick={{fn this.promptToRemoveTag tag}}
      >
        <AppIcon @icon="delete" @alt="delete" />
      </IconButton>
    </li>
  {{/each}}
</ul>
