<PaperCard as |Card|>
  {{#if this.sortedSources}}
    <PaperList>
      <PaperItem class="md-2-line">
        <PaperInput
          @label="Search"
          @value={{this.filter}}
          @onChange={{action (mut this.filter)}}
          class="flex"
        />
      </PaperItem>
      {{#each this.filteredSources as |source|}}
        {{#if (has-block)}}
          <SourceItem @source={{source}}>
            {{yield source}}
          </SourceItem>
        {{else}}
          <SourceItem @source={{source}} />
        {{/if}}
      {{/each}}
    </PaperList>
  {{else}}
    <Card.content>
      <p>No sources added yet.</p>
    </Card.content>
  {{/if}}
</PaperCard>
