<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Tags</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-author-button>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <Card.content>
      <PaperForm @onSubmit={{this.addTagToSource}} as |Form|>
        <Card.content>
          <div>
            <PaperSelect
              @block={{true}}
              @label="Tags"
              @options={{@tags}}
              @selected={{this.tagToAdd}}
              @onChange={{action (mut this.tagToAdd)}}
              as |tag|
            >
              {{tag.name}}
            </PaperSelect>
          </div>
          <Form.submit-button
            @raised={{true}}
            @primary={{true}}
          >
            Save
          </Form.submit-button>
          <PaperButton @onClick={{action (mut this.isAdding) false}}>
            Cancel
          </PaperButton>
        </Card.content>
      </PaperForm>
    </Card.content>
  {{/if}}
  {{#each this.sortedSourceTags as |tag|}}
    <PaperItem @onClick={{fn this.navigateToTag tag}} class="md-2-line" as |Controls|>
      <div class="md-list-item-text">
        <h3 class="preserve-line-breaks">{{tag.name}}!!</h3>
      </div>
      <div class="md-secondary-container">
        <Controls.button
          @secondary={{true}}
          @iconButton={{true}}
          @onClick={{fn this.promptToRemoveTag tag}}
        >
          {{paper-icon "delete"}}
        </Controls.button>
      </div>
    </PaperItem>
  {{/each}}
</PaperCard>
