<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>Source</h2>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <PaperForm @onSubmit={{this.save}} as |Form|>
        <Form.input
          @type="text"
          @block={{true}}
          @label="Source"
          @value={{this.editedTitle}}
          @onChange={{action (mut this.editedTitle)}}
          @passThru={{hash autocapitalize="sentences"}}
        />
        <Form.select
          @block={{true}}
          @label="Medium"
          @options={{@media}}
          @selected={{this.editedMedium}}
          @onChange={{action (mut this.editedMedium)}}
          as |medium|
        >
          {{medium.name}}
        </Form.select>
        <Form.input
          @type="url"
          @block={{true}}
          @label="URL"
          @value={{this.editedUrl}}
          @onChange={{action (mut this.editedUrl)}}
        />
        <Form.input
          @type="date"
          @block={{true}}
          @label="Date"
          @value={{this.editedDate}}
          @onChange={{action (mut this.editedDate)}}
        />
        <PaperButton @primary={{true}} @raised={{true}} @onClick={{this.save}}>
          Save
        </PaperButton>
        <PaperButton @warn={{true}} @onClick={{this.delete}}>
          Delete
        </PaperButton>
        <PaperButton @onClick={{this.cancelEditing}}>
          Cancel
        </PaperButton>
      </PaperForm>
    </Card.content>
  {{else}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>
          {{#if @source.url}}
            <a href={{@source.url}} target="_blank" rel="noopener noreferrer">
              {{@source.title}}
            </a>
          {{else}}
            {{@source.title}}
          {{/if}}
        </h2>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{this.startEditing}}>
          {{paper-icon "edit"}}
        </PaperButton>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <p>{{@source.author.name}}</p>
      {{#if @source.date}}
        <p>{{@source.date}}</p>
      {{/if}}
    </Card.content>
  {{/if}}
</PaperCard>
