<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Sources
  </a>
  <span class="flex-fill"></span>
  <button
    type="button"
    class="btn btn-outline-dark"
    {{on "click" (fn (mut this.isAdding) true)}}
  >
    Add
  </button>
</nav>

{{#if this.isAdding}}
  <div class="card">
    <div class="card-body">
      <form {{on "submit" this.addSourceToTag}}>
        <div class="form-group">
          <label for="source-field">
            Source
          </label>
          <ModelSelect
            @value={{this.sourceToAdd}}
            @onChange={{fn (mut this.sourceToAdd)}}
            @options={{this.sortedSources}}
            @emptyLabel="(choose)"
            id="source-field"
            class="form-control"
            as |source|
          >
            {{source.title}} - {{source.author.name}}
          </ModelSelect>
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          {{on "click" this.cancelAdd}}
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
{{/if}}

<ul class="list-group">
  {{#each this.sortedTagSources as |source|}}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-fill">
        <LinkTo
          @route="sources.detail"
          @model={{source.id}}
        >
          <div>{{source.title}}</div>
          <div class="small muted">{{source.author.name}}</div>
        </LinkTo>
      </div>
      <IconButton
        @onClick={{fn this.promptToRemoveSource source}}
      >
        <AppIcon @icon="delete" @alt="delete" />
      </IconButton>
    </li>
  {{/each}}
</ul>
