<PaperForm @onSubmit={{this.save}} as |Form|>
  <Form.input
    @type="text"
    @block={{true}}
    @label="Source"
    @value={{this.editedTitle}}
    @onChange={{action (mut this.editedTitle)}}
    @passThru={{hash autocapitalize="sentences"}}
    data-test-title
  />
  <Form.select
    @block={{true}}
    @label="Medium"
    @options={{@media}}
    @selected={{this.editedMedium}}
    @onChange={{action (mut this.editedMedium)}}
    as |medium|
  >
    {{medium.name}}
  </Form.select>
  <Form.input
    @type="url"
    @block={{true}}
    @label="URL"
    @value={{this.editedUrl}}
    @onChange={{action (mut this.editedUrl)}}
  />
  <Form.input
    @type="date"
    @block={{true}}
    @label="Date"
    @value={{this.editedDate}}
    @onChange={{action (mut this.editedDate)}}
  />

  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    data-test-delete-button
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    data-test-cancel-button
    {{on "click" this.cancelEditing}}
  >
    Cancel
  </button>
</PaperForm>
