<form {{on "submit" this.save}}>
  <div
    class="form-group"
    data-test-title
  >
    <label for="title-field">
      Source
    </label>
    <Input
      @value={{this.editedTitle}}
      id="title-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <div class="form-group">
    <label for="medium-field">
      Medium
    </label>
    <PowerSelect
      @options={{@media}}
      @selected={{this.editedMedium}}
      @onChange={{action (mut this.editedMedium)}}
      as |medium|
    >
      {{medium.name}}
    </PowerSelect>
  </div>
  <div class="form-group">
    <label for="url-field">
      URL
    </label>
    <Input
      @value={{this.editedUrl}}
      type="url"
      id="url-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <div class="form-group">
    <label for="date-field">
      Date
    </label>
    <Input
      @value={{this.editedDate}}
      type="date"
      id="date-field"
      class="form-control"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    data-test-delete-button
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    data-test-cancel-button
    {{on "click" this.cancelEditing}}
  >
    Cancel
  </button>
</form>
