<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>Source</h2>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <Source::EditForm
        @source={{@source}}
        @media={{@media}}
        @onSave={{this.handleSave}}
        @onCancel={{this.handleCancel}}
        @onDelete={{this.handleDelete}}
      />
    </Card.content>
  {{else}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2 data-test-source-title>
          {{#if @source.url}}
            <a href={{@source.url}} target="_blank" rel="noopener noreferrer">
              {{@source.title}}
            </a>
          {{else}}
            {{@source.title}}
          {{/if}}
        </h2>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{this.startEditing}} data-test-edit-source-button>
          {{paper-icon "edit"}}
        </PaperButton>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <p>{{@source.author.name}}</p>
      {{#if @source.date}}
        <p>{{@source.date}}</p>
      {{/if}}
    </Card.content>
  {{/if}}
</PaperCard>
