<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Sources</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-source-button>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <PaperForm @onSubmit={{this.createSource}} as |Form|>
      <Card.content>
        <div
          class="form-group"
          data-test-title-field
        >
          <label for="title-field">
            New Source
          </label>
          <Input
            @value={{this.title}}
            id="title-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <Form.select
          @block={{true}}
          @label="Medium"
          @options={{@media}}
          @selected={{this.medium}}
          @onChange={{action (mut this.medium)}}
          data-test-medium-select
          as |medium|
        >
          {{medium.name}}
        </Form.select>
        <div
          class="form-group"
          data-test-url-field
        >
          <label for="url-field">
            URL
          </label>
          <Input
            @value={{this.url}}
            type="url"
            id="url-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <div
          class="form-group"
          data-test-date-field
        >
          <label for="date-field">
            Date
          </label>
          <Input
            @value={{this.date}}
            type="date"
            id="date-field"
            class="form-control"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-source-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-test-cancel-button
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </Card.content>
    </PaperForm>
  {{/if}}
</PaperCard>
