<PaperCard as |Card|>
  <PaperToolbar as |Toolbar|>
    <Toolbar.tools>
      <h2>Sources</h2>
      <span class="flex"></span>
      <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-source-button>
        Add
      </PaperButton>
    </Toolbar.tools>
  </PaperToolbar>
  {{#if this.isAdding}}
    <PaperForm @onSubmit={{this.createSource}} as |Form|>
      <Card.content>
        <Form.input
          @type="text"
          @block={{true}}
          @label="New Source"
          @value={{this.title}}
          @onChange={{action (mut this.title)}}
          @passThru={{hash autocapitalize="sentences"}}
          data-test-title-field
        />
        <Form.select
          @block={{true}}
          @label="Medium"
          @options={{@media}}
          @selected={{this.medium}}
          @onChange={{action (mut this.medium)}}
          data-test-medium-select
          as |medium|
        >
          {{medium.name}}
        </Form.select>
        <Form.input
          @type="url"
          @block={{true}}
          @label="URL"
          @value={{this.url}}
          @onChange={{action (mut this.url)}}
          data-test-url-field
        />
        <Form.input
          @type="date"
          @block={{true}}
          @label="Date"
          @value={{this.date}}
          @onChange={{action (mut this.date)}}
          data-test-date-field
        />

        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-source-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-test-cancel-button
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </Card.content>
    </PaperForm>
  {{/if}}
</PaperCard>
