<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Sources
  </a>
  <span class="flex-fill"></span>
  <PaperButton @onClick={{action (mut this.isAdding) true}} data-test-add-source-button>
    Add
  </PaperButton>
</nav>

{{#if this.isAdding}}
  <div class="card">
    <form {{on "submit" this.createSource}}>
      <div class="card-body">
        <div
          class="form-group"
          data-test-title-field
        >
          <label for="title-field">
            New Source
          </label>
          <Input
            @value={{this.title}}
            id="title-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <div
          class="form-group"
          data-test-medium-select
        >
          <label for="medium-field">
            Medium
          </label>
          <PowerSelect
            @options={{@media}}
            @selected={{this.editedMedium}}
            @onChange={{action (mut this.editedMedium)}}
            as |medium|
          >
            {{medium.name}}
          </PowerSelect>
        </div>
        <div
          class="form-group"
          data-test-url-field
        >
          <label for="url-field">
            URL
          </label>
          <Input
            @value={{this.url}}
            type="url"
            id="url-field"
            class="form-control"
            autocapitalize="sentences"
          />
        </div>
        <div
          class="form-group"
          data-test-date-field
        >
          <label for="date-field">
            Date
          </label>
          <Input
            @value={{this.date}}
            type="date"
            id="date-field"
            class="form-control"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary text-dark"
          data-test-save-source-button
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-test-cancel-button
          {{on "click" (action (mut this.isAdding) false)}}
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
{{/if}}
