<PaperCard as |Card|>
  {{#if this.editing}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>Tag</h2>
      </Toolbar.tools>
    </PaperToolbar>
    <Card.content>
      <Tag::EditForm
        @tag={{@tag}}
        @onSave={{this.handleSave}}
        @onCancel={{this.handleCancel}}
        @onDelete={{this.handleDelete}}
      />
    </Card.content>
  {{else}}
    <PaperToolbar as |Toolbar|>
      <Toolbar.tools>
        <h2>{{@tag.name}}</h2>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{this.startEditing}}>
          {{paper-icon "edit"}}
        </PaperButton>
      </Toolbar.tools>
    </PaperToolbar>
  {{/if}}
</PaperCard>
