<form {{on "submit" this.save}}>
  <div
    class="form-group"
    data-test-name
  >
    <label for="author-name-field">
      Author Name
    </label>
    <Input
      @value={{this.editedName}}
      id="author-name-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <div
    class="form-group"
    data-test-affiliation
  >
    <label for="affiliation-field">
      Affiliation
    </label>
    <Input
      @value={{this.editedAffiliation}}
      id="affiliation-field"
      class="form-control"
      autocapitalize="sentences"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary text-dark"
    data-test-save-button
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-danger"
    data-test-delete-button
    {{on "click" this.delete}}
  >
    Delete
  </button>
  <button
    type="button"
    class="btn btn-light"
    data-test-cancel-button
    {{on "click" @onCancel}}
  >
    Cancel
  </button>
</form>
